{deps, [
    {udp_dist, ".*", {git, "https://github.com/sivieri/udp_dist"}},
    {erl_gpio, ".*", {git, "https://github.com/sivieri/erl_gpio"}},
    {i2cdev, ".*", {git, "https://github.com/sivieri/i2cdev"}},
    {spidev2, ".*", {git, "https://github.com/sivieri/spidev2"}},
    {firmata, ".*", {git, "https://github.com/sivieri/erl-firmata"}},
    {mochiweb, ".*", {git, "https://github.com/mochi/mochiweb.git", {tag, "v2.3.2"}}},
    {log4erl, ".*", {svn, "http://log4erl.googlecode.com/svn/trunk/", "HEAD"}},
    {ibrowse, ".*", {git, "https://github.com/cmullaparthi/ibrowse.git", "HEAD"}},
    {crest, ".*", {git, "https://github.com/sivieri/eliot_crest"}}
]}.
