{deps, [
    {udp_dist, ".*", {git, "gitosis@sola0.dei.polimi.it:udp_dist.git"}},
    {gpio, ".*", {git, "gitosis@sola0.dei.polimi.it:gpio.git"}},
    {i2cdev, ".*", {git, "gitosis@sola0.dei.polimi.it:i2cdev.git"}},
    {spidev2, ".*", {git, "gitosis@sola0.dei.polimi.it:spidev2.git"}},
    {firmata, ".*", {git, "https://github.com/sivieri/erl-firmata"}},
    {mochiweb, ".*", {git, "https://github.com/mochi/mochiweb.git", {tag, "v2.3.2"}}},
    {log4erl, ".*", {svn, "http://log4erl.googlecode.com/svn/trunk/", "HEAD"}},
    {ibrowse, ".*", {git, "https://github.com/cmullaparthi/ibrowse.git", "HEAD"}},
    {crest, ".*", {git, "gitosis@sola0.dei.polimi.it:crest.git"}}
]}.