{variables, [{appid, "myapp"}]}.
{template, "eliotapp.sh", "start.sh"}.
{template, "rebar.config", "rebar.config"}.
{template, "rebar.config.script", "rebar.config.script"}.
{template, "Makefile", "Makefile"}.
{template, "eliotapp.app.src", "src/{{appid}}.app.src"}.
{template, "eliotapp.erl", "src/{{appid}}.erl"}.
{template, "eliotapp_app.erl", "src/{{appid}}_app.erl"}.
{template, "eliotapp_sup.erl", "src/{{appid}}_sup.erl"}.
{template, "eliotapp_task.erl", "src/{{appid}}_task.erl"}.
