{variables, [{appid, "myapp"}]}.
{template, "wsnapp.app.src", "src/{{appid}}.app.src"}.
{template, "wsnapp.erl", "src/{{appid}}.erl"}.
{template, "wsnapp_app.erl", "src/{{appid}}_app.erl"}.
{template, "wsnapp_sup.erl", "src/{{appid}}_sup.erl"}.
{template, "wsnapp_task.erl", "src/{{appid}}_task.erl"}.
